*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  overflow-x: hidden;
}

.button-container__button {
  padding: 0;
  margin: 0;
  background-color: unset;
  border: unset;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 15px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s;
}

.row_hidden {
  display: none;
}

.button-container__button_selected {
  background-color: rgba(164, 184, 253, 0.3);
}

.button-container__button_selected:hover {
  background-color: rgba(164, 184, 253, 0.7);;
}
.button-container__button_selected:active {
  background-color: #7E9BFF;
  color: #ffffff;
}

.button-container__button_not_selected {
  background-color: #A4B8FD;
  color: #000000;
}

.button-container__button_not_selected:hover {
  background-color: #698AFF;
  color: #000000;
}

.button-container__button_not_selected:active {
  background-color: #1549FF;
  color: #ffffff;
}

.comment {
  font-style: italic;
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.podpis {
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  margin-bottom: 10px;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  margin-top: 60px;
  margin-bottom: 40px;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  padding-top: 30px;
}

h3 {
  font-style: normal;
  text-decoration-line: underline;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  padding-top: 20px;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  margin-top: 0;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

li {
  margin-bottom: 15px;
}

th {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.container__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container__item {
  position: relative;
}

.inner_ml {
  margin-left: 50px;
}

.no_mb {
  margin-bottom: 0;
}

.container__item::before {
  position: absolute;
  top: 5px;
  content: '';
  width: 18px;
  height: 18px;
  border: 1px solid #000000;
  left: -25px;
}

.fact {
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 80px;
}

.bg-container {
  margin-top: 10px;
  padding-top: 20px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 40px;
}

.bg-container_gray {
  background-color: rgba(217, 220, 222, 0.4);
}

.bg-container_blue {
  background-color: #eef2ff;
}

.podpisfact {
  font-weight: bold;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  margin-bottom: 5px;
}

.custom-table {
  margin: 0;
  padding: 0;
  width: 100%;
}

.custom-table th {
  word-wrap: normal;
  text-align: left;
}

.text-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}

.text-container__item {
  margin-bottom: 15px;
}

.text-container__item {
  flex-basis: 30%;
  margin-right: 20px;
}

.text-container__head {
  margin-bottom: 10px;
}

@media (max-width: 765px) {
  .custom-table th {
    font-size: 15px;
  }

  .custom-table th p {
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .custom-table {
    display: flex;
  }
  .custom-table tr {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .custom-table {
    display: flex;
  }
  .custom-table tbody {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .custom-table tr {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .custom-table th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding-left: 20px;
  }

  .custom-table th p {
    font-size: 15px;
  }
}

@media (max-width: 1000px) {
  .text-container {
    flex-direction: column;
    margin-bottom: 20px;
  }
}

@media (max-width: 575px) {
  p {
    font-size: 18px;
    line-height: 25px;
  }
  .container {
    margin-left: 15px;
    margin-right: 15px;
  }
  .bg-container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 25px;
  }
  .comment {
    font-size: 22px;
    padding-left: 0;
    line-height: 29px;
  }
  .inner_ml {
    margin-left: 20px;
  }
  li {
    font-size: 18px;
    margin-bottom: 7px;
  }
  h1 {
    font-size: 30px;
    line-height: 35px;
  }
  h2 {
    font-size: 23px;
    line-height: 28px;
  }
  h3 {
    font-size: 20px;
  }
}

@media (max-width: 975px) {
  .hide_sm {
    display: none;
  }
}

@media (max-width: 770px) {
  .hide_s {
    display: none;
  }
}
